[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/IMQS/vcpkg.git
[submodule "mapnik"]
	path = mapnik
	url = https://github.com/IMQS/mapnik-windows
[submodule "mapnik-src"]
	path = mapnik-src
	url = https://github.com/IMQS/mapnik
	branch = imqs-master
